footer.footer
  .footer__logo
    img(src='/img/logo-blue.png' alt='Saturn logo')
  ul.footer__nav
    li: a(href='https://juejin.cn/user/3276958353601790') 关于我们
    li: a(href='https://juejin.cn/user/3276958353601790') 下载应用
    li: a(href='https://juejin.cn/user/3276958353601790') 职业生涯
    li: a(href='https://juejin.cn/user/3276958353601790') 联系我们
  p.footer__copyright &copy; by yi_san_san_yi@163.com