header.header
  nav.nav.nav--shows
    a.nav__el(href='/') 所有演出
    form.nav__search
      button.nav__search-btn
        svg
          use(xlink:href="/img/icons.svg#icon-search")
      input.nav__search-input(type="text",placeholder="搜索演出")
  .header__logo
    img(src='/img/logo-white.png' alt='Saturn logo')
  nav.nav.nav--user
    if user
      a#logoutBtn.nav__el.nav__el--logout(href='/') 退出登录
      a.nav__el(href='/me') 
        span= user.name 
    else
      a.nav__el(href='/login') 登录
      a.nav__el.nav__el--cta(href='/signup') 注册