extends base

//- li
mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('#', '设置', 'settings', true)
          +navItem('/my-shows', '我的预订', 'briefcase')
          +navItem('/my-comments', '我的评论', 'star')
          li#setMeInactive
            a(href='#')
              svg
                use(xlink:href='img/icons.svg#icon-power')
              | 注销账户
         

        - if (user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading 管理员
            ul.side-nav
              +navItem('/getAllShows', '管理演出', 'map')
              +navItem('/getAllUsers', '管理用户', 'users')
              +navItem('/getAllComments', '管理评论', 'star')
              +navItem('#', '管理预定', 'briefcase')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md 设置账户
        
          //- WITH API
          form.form.form-user-data
            .form__group
              label.form__label(for='name') 用户名
              input#name.form__input(type='text', value=`${user.name}`, required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') 邮箱地址
              input#email.form__input(type='email', value=`${user.email}`, required, name='email')
              
            .form__group.right
              button.btn.btn--small.btn--blue 保存设置
              
        .line &nbsp;
        
        .user-view__form-container
          h2.heading-secondary.ma-bt-md 修改密码
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') 当前密码
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') 新密码
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') 密码确认
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--blue.btn--save-password 保存密码
