doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title ShowStart | #{title}

  body(data-alert=`${alert ? alert : ''}`)
  body
    // HEADER
    include _header

    // CONTENT
    block content
      h1 This is a placeholder heading from base.pug
    // FOOTER
    include _footer

    
   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(src='/js/alert.js')
    script(src='/js/authOpt.js')
    script(src='/js/updateSettings.js') 
    script(src='/js/alipay.js')
    script(src='/js/setNavFilter.js')
    script(src='/js/mapbox.js')