extends base

block content
  main.main
    #loginForm.login-form
      h2.heading-secondary.ma-bt-lg 登录到您的账户
      form.form
        .form__group
          label.form__label(for='email') 邮箱地址
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') 密码
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--blue 登录