extends base

mixin cardData(icon,text)
  .card__data
    svg.card__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span= text

block content
  main.main
    .card-container
      each show in shows
        .card
          .card__header
            .card__picture
              img.card__picture-img(src=`/img/tours/${show.imageCover}`, alt=`${show.name}`)
            h3.heading-tertirary
              span= show.name

          .card__details
            h4.card__sub-heading= ` ${show.duration}-day show`
            p.card__text= show.summary
            +cardData('map-pin',show.startLocation.description)
            +cardData('calendar',show.startDates[0].toLocaleString('ch'))

          .card__footer
            p
              span.card__footer-value= `￥${show.price}`
              //- 空格 |
              | 
              span.card__footer-text 元/人
            p.card__ratings
              span.card__footer-value= show.ratingsAverage
              | 
              span.card__footer-text= `(共 ${show.ratingsQuantity} 人评价)`
            //- 点击进入演出详情页
            a.btn.btn--blue.btn--small(href=`/show/${show.slug}`) 演出详情