extends base

mixin overviewBox(label, text, icon)
  .overview-box__detail
    svg.overview-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.overview-box__label= label
    span.overview-box__text= text

mixin commentCard(comment)
  .reviews__card
    .reviews__avatar
      h6.reviews__user= comment.user ? comment.user.name :'已注销用户'
    p.reviews__text= comment.comment 
    .reviews__rating
      each star in [1, 2, 3, 4, 5]
        svg.reviews__star(class=`reviews__star--${comment.rating >= star ? 'active' : 'inactive'}`)
          use(xlink:href='/img/icons.svg#icon-star')

mixin detailBox(icon,text)
  .heading-box__detail
    svg.heading-box__icon
      use(xlink:href=`/img/icons.svg#icon-${icon}`)
    span.heading-box__text= text

block content
  section.section-header
    .header__hero
        img.header__hero-img(src=`/img/tours/${show.imageCover}`, alt=`${show.name}`)
    .heading-box
      h1.heading-primary.card__picture-overlay 
        span= `${show.name} show`
      .heading-box__group
        +detailBox('map',show.summary)
        +detailBox('headphones',`${show.startDates[0].toLocaleString('ch')} 开始`)
        +detailBox('bell',`${show.ratingsQuantity} 人关注`)

  section.section-description
    .overview-box
      div
        .overview-box__group
          h2.heading-secondary.ma-bt-lg 演出信息
          - const date = show.startDates[0].toLocaleString('ch')
          +overviewBox('演出日期', date, 'calendar')
          +overviewBox('演出时长', `${show.duration} 小时`, 'clock')
          +overviewBox('票价', `${show.price} 元/人`, 'shopping-cart')
          +overviewBox('评价', `${show.ratingsAverage} / 5`, 'star')

    .description-box
      h2.heading-secondary.ma-bt-lg= `${show.name} 乐队简介`
      - const parapraphs = show.description.split('\n');
      each p in parapraphs
        p.description__text= p

  section.section-pictures
    each img, i in show.images
      .picture-box
        img.picture-box__img(src=`/img/tours/${img}`, alt=`The Park Camper Show ${i + 1}`, class=`picture-box__img--${i + 1}`)
  
  section.section-map
    #mapContainer(data-location=`${JSON.stringify(show.startLocation)}`)
  
  section.section-reviews
    .reviews
      each comment in show.comments
        +commentCard(comment)
    .form
  
  section.section-cta
    .cta
      img.cta__img.cta__img--1(src=`/img/tours/${show.images[1]}`, alt='Show picture')
      img.cta__img.cta__img--2(src=`/img/tours/${show.images[2]}`, alt='Show picture')
      .cta__content
        h2.heading-secondary 点击右边按钮预定
        p.cta__text= `来ShowStart!和热爱音乐的朋友开启原创音乐现场之旅`
        
        if user
          button.btn.btn--blue.span-all-rows#book-show(data-show-id=`${show.id}`) 预定
        else
          a.btn.btn--blue.span-all-rows(href='/login') 登陆以预定该行程
