extends base

block content
  main.main
    #signupForm.signup-form
      h2.heading-secondary.ma-bt-lg 注册新用户
      form.form
        .form__group
          label.form__label(for='name') 用户名
          input#name.form__input(type='text', placeholder='username', required)
        .form__group
          label.form__label(for='email') 邮箱地址
          input#email.form__input(type='email', placeholder='you@example.com', required)
        .form__group.ma-bt-md
          label.form__label(for='password') 密码
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='passwordComfirm') 确认密码
          input#passwordComfirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--blue 注册